name: schemakeeper CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  scalafmt:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ adopt@1.8 ]
        scala: [ 2.12.13 ]
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v2

      - name: Set up Java and Scala
        uses: olafurpg/setup-scala@v10
        with:
          java-version: ${{ matrix.java }}

      - name: scalafmt
        run: sbt ++${{ matrix.scala }} scalafmtCheckAll

  validate:
    name: Scala ${{ matrix.scala }}, Java ${{ matrix.java }}
    strategy:
      fail-fast: false
      matrix:
        java: [adopt@1.8]
        scala: [2.12.13]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v2

      - name: Set up Java and Scala
        uses: olafurpg/setup-scala@v10
        with:
          java-version: ${{ matrix.java }}

      - name: Cache sbt
        uses: actions/cache@v2
        with:
          path: |
            ~/.sbt
            ~/.ivy2/cache
            ~/.coursier/cache/v1
            ~/.cache/coursier/v1
            ~/AppData/Local/Coursier/Cache/v1
            ~/Library/Caches/Coursier/v1
          key: ${{ runner.os }}-sbt-cache-v2-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}

      - name: Prepare local schemakeeper image
        run: sbt ++${{ matrix.scala }} server/docker:publishLocal

      - name: Run tests
        run: sbt ++${{ matrix.scala }} coverage test

      - name: Coverage Report
        run: sbt coverageReport

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1